.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.found {
	fill: #ff4136;
	stroke: #ff4136;
}
.node text {
	font: 10px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.tooltip {
  position: absolute;
  text-align: center;
/*  width: 60px; */
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/* search boxes - https://webdesign.tutsplus.com/tutorials/css-experiments-with-a-search-form-input-and-button--cms-22069 */
/* POURRI voir sur le net pour select2 */
/* http://stackoverflow.com/questions/17896075/how-to-add-html-placeholder-to-select2*/
.container-1{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input[type=search]{
/*  height: 50px; */
  background: #2b303b;
  border: none;
/*  font-size: 10pt; */
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 input[type=search]::-webkit-input-placeholder {
   color: #65737e;
	 padding-left: 4px;
}
.container-1 input[type=search]:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}
.container-1 input[type=search]::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}
 .container-1 input[type=search]:-ms-input-placeholder {
   color: #65737e;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
